<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEUdTOSb_AJOTnL4FMOss57u9lCpTKq8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1088506353097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.brightlight.PeerApp</string>
	<key>PROJECT_ID</key>
	<string>peer-de113</string>
	<key>STORAGE_BUCKET</key>
	<string>peer-de113.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088506353097:ios:de1ef78d32b36b3f440418</string>
</dict>
</plist>
